<svg class="img-fluid d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     width="1840" height="938.501" viewBox="0 0 1840 938.501">
    <defs>
        <pattern id="explore_express_pattern" preserveAspectRatio="xMidYMid slice" width="100%" height="100%"
                 viewBox="0 0 1840 750">
            <image class="js-explore-express-desktop__image--main" width="1840" height="750"
                   data-href="assets/images/explore-express-desktop-music-main.png"/>
        </pattern>
    </defs>
    <g id="explore_express_Group_17231" data-name="Group 17231" transform="translate(-40 -97)">
        <text id="explore_express_Express" transform="translate(534 294.966)" fill="#FFD600" font-size="131"
              class="font-family--svg-text font-weight-bold">
            <tspan x="-265.603" y="0">Express</tspan>
        </text>
        <text id="explore_express_yourself_" data-name="yourself!" transform="translate(1427 294.966)" fill="#000f1e"
              font-size="131" class="font-family--svg-text font-weight-bold">
            <tspan x="-308.636" y="0">yourself!</tspan>
        </text>
        <g id="explore_express_Group_17230" data-name="Group 17230">
            <text id="explore_express_Imagine_if_you_could_post_your_articles_or_blogs_on_Vogue_or_your_choreographies_and_covers_on_the_album_of_Taylor_Swift._What_about_having_your_illustrations_or_fanfics_on_your_favorite_books_or_comics_With_Stik_post_new_or_content_you_have_already_cre"
                  data-name="Imagine if you could post your articles or blogs on Vogue, or your choreographies and covers on the album of Taylor Swift. What about having your illustrations or fanfics on your favorite books or comics? With Stik, post new or content you have already cre"
                  transform="translate(835 887.005)" fill="#000f1e" font-size="20" class="font-family--svg-text">
                <tspan x="0" y="21">{{ T "explore_express_desktop_subtitle_1" }}
                </tspan>
                <tspan x="0" y="51">{{ T "explore_express_desktop_subtitle_2" }}
                </tspan>
                <tspan x="0" y="81">{{ T "explore_express_desktop_subtitle_3" }}
                </tspan>
                <tspan x="0" y="111">{{ T "explore_express_desktop_subtitle_4" }}

                </tspan>
                <tspan x="0" y="141">{{ T "explore_express_desktop_subtitle_5" }}
                </tspan>
            </text>
            <line id="explore_express_Line_383" data-name="Line 383" y2="147.998" transform="translate(785 887.503)"
                  fill="none" stroke="#707070" stroke-width="1"/>
        </g>
        <g id="menu--explore-express" class="js-menu--explore-express-desktop" data-type="desktop">
            <a href="#explore-express-desktop__music" class="js-menu--explore-express-desktop__link">
                <text class="font-family--svg-text--lato font-weight-bold"
                      id="menu--explore-express-desktop__music" transform="translate(311 966.505)" fill="#FFD600"
                      font-size="18"
                      letter-spacing="0.1em">
                    <tspan x="-32.666" y="0">{{ T "explore_express_submenu_music" }}</tspan>
                </text>
            </a>
            <a href="#explore-express-desktop__magazines" class="js-menu--explore-express-desktop__link">
                <text class="font-family--svg-text--lato" id="menu--explore-express-desktop__magazines"
                      transform="translate(443 966.505)" fill="#000f1e" font-size="18" letter-spacing="0.1em">
                    <tspan x="-51.986" y="0">{{ T "explore_express_submenu_magazines" }}</tspan>
                </text>
            </a>
            <a href="#explore-express-desktop__books" class="js-menu--explore-express-desktop__link">
                <text class="font-family--svg-text--lato" id="menu--explore-express-desktop__books"
                      transform="translate(577 966.505)" fill="#000f1e" font-size="18" letter-spacing="0.1em">
                    <tspan x="-34.673" y="0">{{ T "explore_express_submenu_books" }}</tspan>
                </text>
            </a>
            <a href="#explore-express-desktop__comics" class="js-menu--explore-express-desktop__link">
                <text class="font-family--svg-text--lato" id="menu--explore-express-desktop__comics"
                      transform="translate(691 966.505)" fill="#000f1e" font-size="18" letter-spacing="0.1em">
                    <tspan x="-39.361" y="0">{{ T "explore_express_submenu_comics" }}</tspan>
                </text>
            </a>
        </g>
        <rect id="explore_express_expressyourself" width="1840" height="750" transform="translate(40 97)"
              fill="url(#explore_express_pattern)"/>
    </g>
</svg>
<div class="d-lg-none">
    <h2 class="h2--explore">
        <span class="text-primary">Express</span> yourself!
    </h2>
    <div class="mt-4 explore-express-mobile-content">
        <div class="explore-express-mobile__image--main">
            <img class="js-explore-express-mobile__image--main"
                 data-src="assets/images/explore-express-mobile-music-main.png">
        </div>
        <div class="explore-express-mobile-arrow">
            <img class="img-fluid" src="assets/images/explore-express-arrow.svg">
        </div>
        <div class="row mt-4">
            <div class="col-5">
                <nav class="js-menu--explore-express-mobile" data-type="mobile">
                    <ul class="list-unstyled menu--explore-express--mobile ">
                        <li>
                            <a class="active js-menu--explore-express-mobile__link"
                               href="#explore-express-mobile__music"
                               id="menu--explore-express-mobile__music">{{ T "explore_express_submenu_music" }}</a>
                        </li>
                        <li>
                            <a href="#explore-express-mobile__magazines"
                               class="js-menu--explore-express-mobile__link"
                               id="menu--explore-express-mobile__magazines">{{ T "explore_express_submenu_magazines" }}</a>
                        </li>
                        <li>
                            <a href="#explore-express-mobile__books"
                               class="js-menu--explore-express-mobile__link"
                               id="menu--explore-express-mobile__books">{{ T "explore_express_submenu_books" }}</a>
                        </li>
                        <li>
                            <a href="#explore-express-mobile__comics"
                               class="js-menu--explore-express-mobile__link"
                               id="menu--explore-express-mobile__comics">{{ T "explore_express_submenu_comics" }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-7 mt--3">
                <div class="explore-express-mobile__image--secondary">
                    <img class="js-explore-express-mobile__image--secondary"
                         data-src="assets/images/explore-express-mobile-music-secondary.gif">
                </div>
            </div>
        </div>
    </div>
    <div class="font-family--svg-text mt-4">
        {{ T "explore_express_mobile_subtitle" }}
    </div>
</div>
