<div class="container-fluid">
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/everything-social.html" . -}}
        </div>
    </div>
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/post.html" . -}}
        </div>
    </div>
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/messages.html" . -}}
        </div>
    </div>
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/react.html" . -}}
        </div>
    </div>
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/connect.html" . -}}
        </div>
    </div>
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/express.html" . -}}
        </div>
    </div>
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/access.html" . -}}
        </div>
    </div>
    <div class="js-animation row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/moments.html" . -}}
        </div>
    </div>
</div>

<div class="container-fluid d-lg-block d-none">
    <div class="row justify-content-center align-items-center height-lg-100 pt--main-menu mt-5 mt-lg-0">
        <div class="col-12 col-xxl-9">
            {{- partial "explore/mini-apps-desktop.html" . -}}
        </div>
    </div>
</div>
{{- partial "explore/mini-apps-mobile.html" . -}}

{{- partial "explore/want-it.html" . -}}

<!--
  <div class="container text-center">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat</p>
    {{ $url := T "slug_explore" | relLangURL }}
    <a href="{{ $url }}" class="btn btn-primary font-weight-bold">EXPLORE PRODUCT FEATURES</a>
  </div>
  -->
