$duration: 1s;
.animation {

  /* everything_social */
  .everything_social__content--center {
    animation-name: fadeIn;
    animation-duration: $duration * 2;
    animation-iteration-count: 1;
  }

  .everything_social__content--right {
    animation: everything_social__content--right $duration linear;
    transform: translate(-195px, -176px);
  }

  .everything_social__content--left {
    animation: everything_social__content--left $duration linear;
    transform: translate(-195px, -176px);
  }

  /* explore_post */
  .explore_post__content--center{
    animation-name: fadeIn;
    animation-duration: $duration * 2;
    animation-iteration-count: 1;
  }

  .explore_post__content--left{
    animation: explore_post__content--left $duration linear;
    transform: translate(280px, 385px);
  }

  .explore_post__content--right{
    animation: explore_post__content--right $duration linear;
    transform: translate(0px, 515px);
  }
}

/* everything_social */
@keyframes everything_social__content--left {
  0% {
    transform: translate(0px, -176px);
  }
  100% {
    transform: translate(-195px, -176px);
  }
}

@keyframes everything_social__content--right {
  0% {
    transform: translate(-355px, -176px);
  }
  100% {
    transform: translate(-195px, -176px);
  }
}

/* explore_post */
@keyframes explore_post__content--left {
  0% {
    transform: translate(490px, 385px);
  }
  100% {
    transform: translate(280px, 385px);
  }
}
@keyframes explore_post__content--right {
  0% {
    transform: translate(-100px, 515px);
  }
  100% {
    transform: translate(0px, 515px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
