.page--reserved {
  background-color: $dark;

  * {
    color: white;
  }

  .menu-header__links a {
    color: $white;
  }

  .divider::after {
    background: $white;
  }
  .footer a{
    color: $white;
  }
}
