<div class="font-weight-bold mt-4 mb-2 mt-lg-3 mb-lg-0">{{ T "countdown_title"}}</div>
<div class="js-countdown-content countdown"
     id="js-countdown" data-date="Nov 1, 2022 08:00:00">
    <div class="mt-lg-2 row g-3">
        <div class="col-3 text-center">
            <div class="countdown__box" id="days">000</div>
            <div class="text-uppercase">{{ T "countdown_days"}}</div>
        </div>
        <div class="col-3 text-center">
            <div class="countdown__box" id="hours">00</div>
            <div class="text-uppercase">{{ T "countdown_hours"}}</div>
        </div>
        <div class="col-3 text-center">
            <div class="countdown__box" id="minutes">00</div>
            <div class="text-uppercase">{{ T "countdown_minutes"}}</div>
        </div>
        <div class="col-3 text-center">
            <div class="countdown__box" id="seconds">00</div>
            <div class="text-uppercase">{{ T "countdown_seconds"}}</div>
        </div>
    </div>
</div>
