<div id="">
    <form method="post" action="" data-redirect='{{ T "slug_reserved" | relLangURL }}'>
        <div class="mb-3">
            <label for="username" class="visually-hidden">{{ T "formreserve_username" }}</label>
            <input type="text" name="username" class="form-control" id="username" placeholder='{{ T "formreserve_username" }}'>
        </div>
        <div class="mb-3">
            <label for="email" class="visually-hidden">{{ T "formreserve_email" }}</label>
            <input type="email" name="email" class="form-control" id="email" placeholder='{{ T "formreserve_email" }}'>
        </div>
        <div class="mb-3">
            <label for="password" class="visually-hidden">{{ T "formreserve_password" }}</label>
            <input type="password" name="password" class="form-control" id="password"
                   placeholder='{{ T "formreserve_password" }}'>
        </div>
        <div class="mb-3">
            <label for="password_repeat" class="visually-hidden">{{ T "formreserve_repassword" }}</label>
            <input type="password" name="password_repeat" class="form-control" id="password_repeat"
                   placeholder='{{ T "formreserve_repassword" }}'>
        </div>
        <div class="form-check font-size-sm mb-4">
            <input class="form-check-input" type="checkbox" name="privacy" value="OK" id="privacy">
            <label class="form-check-label" for="privacy">
                <a href='{{ T "slug_legal" | relLangURL }}' class="text-muted" target="_blank">
                    {{ T "formreserve_privacy" }}
                </a>
            </label>
        </div>
        <div id="sendSuccess" class="d-none alert alert-success mb-4">
            {{ T "formreserve_success" }}
        </div>
        <div id="sendError" class="d-none alert alert-danger mb-4">
            {{ T "formreserve_error" }}
        </div>
        <div id="sendErrorFileds" class="d-none alert alert-danger mb-4">
            {{ T "formreserve_errorfields" }}
        </div>
        <div>
            <button type="submit" id="sendReserveMail" class="btn btn-primary">{{ T "formreserve_btn" }}</button>
        </div>
        <div class="font-size-xs mt-2 text-muted">{{ T "formreserve_required" }}</div>
    </form>
</div>
