<title>{{ .Title }}{{ if not .IsHome }} | Stik{{ end }}</title>
<meta content="yes" name="mobile-web-app-capable">
<meta charset="UTF-8">
<meta content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" name="description"/>
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><meta content="yes" name="mobile-web-app-capable">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="INDDEX, FOLLOW" name="robots">
<meta content="INDDEX, FOLLOW" name="googlebot"/>
<link href="/assets/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
<link href="/assets/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
<link href="/assets/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="/assets/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
<link href="/assets/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="/assets/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
<link href="/assets/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
<link href="/assets/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
<link href="/assets/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
<link href="/assets/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
<link href="/assets/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/assets/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
<link href="/assets/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link href="/assets/favicon/favicon.ico" rel="shortcut icon">
<link href="/assets/favicon/manifest.json" rel="manifest">
<meta content="#000F1E" name="msapplication-TileColor">
<meta content="/assets/favicon/ms-icon-144x144.png" name="msapplication-TileImage">
<meta content="{{ .Site.Copyright }}" name="application-name">
<meta content="{{ .Site.Copyright }}" name="apple-mobile-web-app-title">
<meta content="es" name="lang"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="global" name="distribution">
<meta content="document" name="resource-type">
<meta content="{{ .Site.Copyright }}" name="organization">
<link href="{{ .Site.BaseURL }}" rel="publisher"/>
<meta content="USA" name="country">
<meta content="#000F1E" name="theme-color">
<meta content='{{ now.Format "Mon Jan 2 15:04:05 MST 2006"}}' name="date"/>
<meta content="{{ .Title }}{{ if not .IsHome }} | Stik{{ end }}" itemprop="name">
<!--<meta content="{{ .Site.BaseURL }}{{if .IsHome}}{{ .Site.Params.image }}{{else}}{{.Params.image}}{{end}}"
  itemprop="image">-->
<meta content="{{ .Site.BaseURL }}{{ .Site.Params.image }}" itemprop="image">
<meta content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" itemprop="description">
<meta content="summary_large_image" name="twitter:card">
<meta content="@{{ .Site.Copyright }}" name="twitter:site">
<meta content="@{{ .Site.Copyright }}" name="twitter:creator">
<meta content="{{ .Title }}{{ if not .IsHome }} | Stik{{ end }}" name="twitter:title">
<meta content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" name="twitter:description">
<meta name="twitter:image:src"
      content="{{ .Site.BaseURL }}{{ .Site.Params.image }}">
<meta content="{{.Language}}" property="og:locale">
<meta content="website" property="og:type">
<meta content="{{ .Title }}{{ if not .IsHome }} | Stik{{ end }}" property="og:title">
<meta content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" property="og:description"/>
<meta content="{{ .Permalink }}" property="og:url">
<meta content="{{ .Site.Params.title }}" property="og:site_name">
<meta property="og:image" content="{{ .Site.Params.image }}">
<meta content="{{ .Title }}{{ if not .IsHome }} | Stik{{ end }}" name="DC.Title">
<meta content="{{ .Site.Copyright }}" name="DC.Creator">
<meta content="Aplicaciones" name="DC.Subject">
<meta content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" name="DC.Description">
<meta content="{{ .Site.BaseURL }}" name="DC.Publisher">
<meta content='{{ now.Format "Mon Jan 2 15:04:05 MST 2006"}}' name="DC.Date">
<meta content="Text" name="DC.Type">
<meta content="{{ .Language }}" name="DC.Language">
{{- if .IsTranslated -}}
{{- range .Translations -}}
<link href="{{ .Permalink }}" hreflang="{{ .Language.Lang }}" rel="alternate" title="{{ .Language.LanguageName }}">
{{- end -}}
{{- end -}}
